/*

!.gitconfig
!.gitignore
!.hushlogin
!.macos
!.inputrc
!.screenrc
!.zprofile
!.zshrc
!bootstrap.sh
!brew.sh
!Brewfile
!.tmux.conf
!.tmux.conf.osx
!.config/nvim/*
!.config/iterm2
!LICENSE-MIT.txt
!README.md
